body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 20px;
}
p{
    font-size: 20px;
}
.stay-focused{
    display: flex;
}
.half-width{
    width: 50%; 
    padding-left:10%;
    
}
.half-width img{
    width: 70%;
    padding-bottom: 30%;
    
}
.mission{
    color: cyan;
  }
.border-red{
  
    padding-left: 10px;
    border-left: 3px solid red;

  }
.bottom{
    padding-top: 10%;
}
button{
    background-color: brown;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
}
.container{
    display: flex;
}
.container > div{
    flex: 1;
    margin-left: 6%;
    margin-right: 6%; 
    padding: 10px;
    border-radius: 20px;
}
.images{
    height: 100px;
    width: 100px;
}
#color1{
    background-color: rgb(231, 231, 213);
}
#color2{
    background-color: rgb(171, 221, 236);
}
#color3{
    background-color: rgb(226, 208, 211);
}
#heading{
    text-align: center;
}
span{
    color: rgb(197, 89, 197);
}
.coding{
    margin-top: 5%;
}
.picture img{
    width: 80%;
}
.paragraph{
    margin-right: 10%;
    padding-right: 2%;
}
.develop{
    font-size: 30px;
    line-height: 20px;   
}
.mywork{
    margin-right:10%;
    padding-top: 10%;

}
.mypic img{
    width: 80%;
    margin-left:10%;
}
#stay{
    text-align: center;

}
footer{
    
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}
   